html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}
.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
}
header {
  background-color: #2B2B2B;
  height: 50px;
}
.clearfix {
  content: "";
  display: block;
  clear: both;
}
header ul {
  list-style: none;
}
.left {
  float: left;
}
.right_link {
  float: right;
}
.right {
  float: left;
}
header ul a {
  text-decoration: none;
  color: #fff;
  vertical-align: middle;
}
header li {
  padding: 15px;
}
.main-header {
  position: relative;
  height: 120px;
}
.main-header img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 13%;
}
.about h1 {
  font-size: 1.5rem;
}
.about p {
  font-size: 0.8rem;
}
/* ここから */
.function {
  background-color: #D3D3D3;
  padding-top: 30px;
  padding-bottom: 30px;
}
.function-images {
display: table;
margin: auto;
}
.function-image {
  display: table-cell;
  padding-left: 80px;
  font-size: 0.8rem;
}
/* ここまでがfunction部分の実装 */
footer {
/* footer部分の実装 */
}